---
import type { MarkdownInstance } from 'astro'

export type Props = {
  section: {
    name: string
    open: boolean
    pages: Array<MarkdownInstance<Record<string, any>>>
  }
}

const { section } = Astro.props
const { name } = section
const id = `nav-${section.name}`
---

<nav id={id} aria-label={section.name}>
  <details open={section.open}>
    <summary>{section.name}</summary>
    <ul>
      {
        section.pages.map((v) => (
          <li>
            <a href={v.url || '/'}>{v.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </details>
</nav>
<script define:vars={{ id, name }}>
  if (location.pathname.startsWith(`/${name}`)) {
    document.querySelector(`#${id} > details`).open = true
  }
</script>
